#content{
}

h1,p,h4{
    text-align: center;
    color: brown;
}
img{
    width: 100%;
}

#tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 25%;
  }
  
  #tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  #tab button:hover {
    background-color: #ddd;
  }
  
  #tab button.active {
    background-color: #ccc;
  }